Content
The "data.csv" file contains more than 175.000 songs collected from Spotify Web API, and also you can find data grouped by artist, year, or genre in the data section.
More on Spotify audio features, click here
More on other Spotify track features, click here

Primary:
- id (Id of track generated by Spotify)
Numerical:
- acousticness (Ranges from 0 to 1)
- danceability (Ranges from 0 to 1)
- energy (Ranges from 0 to 1)
- duration_ms (Integer typically ranging from 200k to 300k)
- instrumentalness (Ranges from 0 to 1)
- valence (Ranges from 0 to 1)
- popularity (Ranges from 0 to 100)
- tempo (Float typically ranging from 50 to 150)
- liveness (Ranges from 0 to 1)
- loudness (Float typically ranging from -60 to 0)
- speechiness (Ranges from 0 to 1)
- year (Ranges from 1921 to 2020)
Dummy:
- mode (0 = Minor, 1 = Major)
- explicit (0 = No explicit content, 1 = Explicit content)
Categorical:
- key (All keys on octave encoded as values ranging from 0 to 11, starting on C as 0, C# as 1 and so on…)
- artists (List of artists mentioned)
- release_date (Date of release mostly in yyyy-mm-dd format, however precision of date may vary)
- name (Name of the song)

In [1]:
import pandas as pd

In [24]:
df1 = pd.read_csv('Sentences_15klyrics_mls_20.csv')

In [25]:
df2 = pd.read_csv('sentences_15klyrics.csv')

In [26]:
df2

,artist,song_name,song_id,sent
0,Mamie Smith,Keep A Song In Your Soul,0,it's a junkie dream makes you so uptight
1,Mamie Smith,Keep A Song In Your Soul,0,yeah it's halloween tonight and every night
2,Mamie Smith,Keep A Song In Your Soul,0,see you scratch (see it on) your skin
3,Mamie Smith,Keep A Song In Your Soul,0,your sandpaper throat
4,Mamie Smith,Keep A Song In Your Soul,0,you're a symphony
...,...,...,...,...
684532,Carpenters,It's Going To Take Some Time,14999,It's gonna take some time this time
684533,Carpenters,It's Going To Take Some Time,14999,No matter what I've planned
684534,Carpenters,It's Going To Take Some Time,14999,But like the young trees in the wintertime
684535,Carpenters,It's Going To Take Some Time,14999,I'll learn how to bend
684536,Carpenters,It's Going To Take Some Time,14999,Repeat (*)

In [27]:
df3 = pd.read_csv('lyrics_song_genres_15k.csv')

In [28]:
df3.head()

,artist,song_name,closest_genre,lyric,length_lyric
0,Mamie Smith,Keep A Song In Your Soul,Blues,it's a junkie dream makes you so uptight\nyeah...,177
1,Mamie Smith,Golfing Papa,Blues,I know a triflin' man\nThey call him Triflin' ...,176
2,Mamie Smith,Don't You Advertise Your Man,Blues,Punctured bicycle\nOn a hillside desolate\nWil...,154
3,Mamie Smith,Miss Jenny's Ball (aka There'll Be No Freebies...,Blues,I'll fake it through the day\nwith some help\n...,200
4,Bessie Smith,Nobody Knows You When You're Down and Out,Jazz,I was happy in the haze of a drunken hour\nBut...,200

In [29]:
df3.closest_genre.unique()

array(['Blues', 'Jazz', 'Folk', 'Pop', 'Country', 'Rock', 'Electronic',
       'Punk', 'Hip Hop', 'Metal', 'Reggae'], dtype=object)

In [30]:
df3.groupby('closest_genre').song_name.count()

closest_genre
Blues         1524
Country        578
Electronic     434
Folk           675
Hip Hop        891
Jazz          1900
Metal          313
Pop            926
Punk           548
Reggae         121
Rock          7090
Name: song_name, dtype: int64

In [31]:
df3.groupby('closest_genre').length_lyric.sum()

closest_genre
Blues          342588
Country        130085
Electronic     101608
Folk           157734
Hip Hop        392147
Jazz           330667
Metal           65335
Pop            237767
Punk           120021
Reggae          30767
Rock          1517466
Name: length_lyric, dtype: int64

In [32]:
df3.length_lyric.sum()

3426185

In [33]:
df3['actual_lyric_length'] = df3.lyric.map(lambda x: len(x.split('\n')))

In [35]:
df3.describe()

       length_lyric  actual_lyric_length
count  15000.000000         15000.000000
mean     228.412333            41.880933
std      127.623821            21.890519
min        4.000000             1.000000
25%      149.000000            27.000000
50%      204.000000            38.000000
75%      272.000000            51.000000
max     2634.000000           249.000000

In [48]:
clean_df = df3.query('actual_lyric_length>=20 & actual_lyric_length<=60')

In [49]:
clean_df.describe()

       length_lyric  actual_lyric_length
count  11348.000000         11348.000000
mean     204.207878            37.397603
std       69.022082            10.599165
min       41.000000            20.000000
25%      153.000000            29.000000
50%      197.000000            37.000000
75%      245.000000            45.000000
max      923.000000            60.000000

In [50]:
clean_df.groupby('closest_genre').song_name.count()

closest_genre
Blues         1161
Country        467
Electronic     345
Folk           529
Hip Hop        332
Jazz          1416
Metal          231
Pop            654
Punk           418
Reggae         101
Rock          5694
Name: song_name, dtype: int64

In [51]:
clean_df_sampled = clean_df.groupby("closest_genre").sample(n=100, random_state=1)

In [52]:
clean_df_sampled.to_csv('sample_clean_100_15k.csv', index=False)

In [56]:
clean_df_sampled.drop('length_lyric', axis=1, inplace=True)

In [57]:
clean_df_sampled.groupby("closest_genre").describe()

              actual_lyric_length                                              \
                            count   mean        std   min    25%   50%    75%
closest_genre
Blues                       100.0  34.50   9.949874  20.0  27.00  33.0  41.25
Country                     100.0  35.75  10.683108  21.0  26.00  35.5  44.00
Electronic                  100.0  41.70  11.318618  20.0  34.00  42.0  51.25
Folk                        100.0  36.13   9.725168  21.0  27.75  35.0  45.00
Hip Hop                     100.0  43.13  10.796235  20.0  34.00  45.0  52.25
Jazz                        100.0  34.31   9.466256  20.0  27.75  32.5  40.00
Metal                       100.0  39.24  10.429291  20.0  30.75  38.5  48.00
Pop                         100.0  38.45  10.091876  21.0  30.75  39.5  44.25
Punk                        100.0  41.38  10.898781  20.0  33.00  43.0  48.00
Reggae                      100.0  40.25  10.896552  20.0  34.00  39.0  51.00
Rock                        100.0  39.37  10.934751  20.0  31.00  39.0  48.00


                max
closest_genre
Blues          60.0
Country        59.0
Electronic     60.0
Folk           58.0
Hip Hop        60.0
Jazz           60.0
Metal          60.0
Pop            59.0
Punk           60.0
Reggae         60.0
Rock           60.0

In [59]:
clean_df_sampled.describe()

       actual_lyric_length
count          1100.000000
mean             38.564545
std              10.828400
min              20.000000
25%              30.000000
50%              38.000000
75%              47.000000
max              60.000000

In [14]:
# Coba dulu semua genre
# Liat performanya gimana (lama waktu)

In [16]:
df3.query('closest_genre=="Jazz"')

,artist,song_name,closest_genre,lyric,length_lyric
4,Bessie Smith,Nobody Knows You When You're Down and Out,Jazz,I was happy in the haze of a drunken hour\nBut...,200
5,Bessie Smith,'Tain't Nobody's Bizness If I Do,Jazz,"There ain't nothing I can do, or nothing I can...",171
6,Bessie Smith,Send Me to the 'Lectric Chair,Jazz,Judge you wanna hear my plea\nBefore you open ...,215
7,Bessie Smith,Need a Little Sugar in My Bowl,Jazz,One more little one\nI'll go down\nAnd stay do...,146
8,Bessie Smith,Young Woman's Blues,Jazz,I hate to see that evening sun go down\nI hate...,141
...,...,...,...,...,...
14908,Nina Simone,O-o-h Child,Jazz,"Traditional\n\nChildren go where I send you,\n...",271
14914,Caravan,In The Land Of Grey & Pink,Jazz,In the land of grey and pink where only boy-sc...,234
14951,Paul Desmond,Autumn Leaves,Jazz,The problem is all inside your head\nShe said ...,219
14965,Donny Hathaway,Little Ghetto Boy,Jazz,"Yes, this is the Ghetto, sure nuff now\nDon't ...",251
14990,Donny Hathaway,What's Going On - Live,Jazz,Go away little girl\nGo away little girl\nI'm ...,176

In [18]:
df3_samples = df3.groupby("closest_genre").sample(n=100, random_state=1)

In [20]:
df3_samples.groupby('closest_genre').length_lyric.sum()

closest_genre
Blues         22898
Country       23580
Electronic    23136
Folk          22895
Hip Hop       43458
Jazz          17389
Metal         20040
Pop           26116
Punk          19512
Reggae        25762
Rock          21278
Name: length_lyric, dtype: int64

In [21]:
df3_samples.groupby('closest_genre').song_name.count()

closest_genre
Blues         100
Country       100
Electronic    100
Folk          100
Hip Hop       100
Jazz          100
Metal         100
Pop           100
Punk          100
Reggae        100
Rock          100
Name: song_name, dtype: int64

In [2]:
df3_samples.to_csv('sample_100_15k.csv', index=False)

NameError: name 'df3_samples' is not defined

In [23]:
df3_samples.head()

,artist,song_name,closest_genre,lyric,length_lyric
8303,Sam Cooke,Meet Me At Mary's Place,Blues,A friend of mine told me one early mornin'\n(O...,290
9513,Curtis Mayfield,Give Me Your Love (Love Song),Blues,"SO IN LOVE\nSO IN LOVE, YOU DO SO MANY THINGS ...",218
8236,Sam Cooke,Another Saturday Night,Blues,Let me tell you 'bout a place\nSomewhere up-a ...,220
13502,Sonny Boy Williamson I,Something Going On Wrong,Blues,(Together) We will go our way\n(Together) We w...,364
2494,Carole King,Where You Lead,Blues,Wanting you the way I do\nI only wanna be with...,166

In [2]:
df3 = pd.read_csv('sample_100_15k.csv')

In [4]:
df3.head()

,artist,song_name,closest_genre,lyric,length_lyric
0,Sam Cooke,Meet Me At Mary's Place,Blues,A friend of mine told me one early mornin'\n(O...,290
1,Curtis Mayfield,Give Me Your Love (Love Song),Blues,"SO IN LOVE\nSO IN LOVE, YOU DO SO MANY THINGS ...",218
2,Sam Cooke,Another Saturday Night,Blues,Let me tell you 'bout a place\nSomewhere up-a ...,220
3,Sonny Boy Williamson I,Something Going On Wrong,Blues,(Together) We will go our way\n(Together) We w...,364
4,Carole King,Where You Lead,Blues,Wanting you the way I do\nI only wanna be with...,166

In [5]:
df3.groupby('closest_genre').song_name.count()

closest_genre
Blues         100
Country       100
Electronic    100
Folk          100
Hip Hop       100
Jazz          100
Metal         100
Pop           100
Punk          100
Reggae        100
Rock          100
Name: song_name, dtype: int64

In [ ]:
df3.groupby('closest_genre').sh

In [10]:
print(df3.iloc[0].lyric)

A friend of mine told me one early mornin'
(Over at Mary's place, ho)
Said tonight there's gonna be a party goin' on
(Over at Mary's place, ho)
He said "If you can enjoy a real nice affair
(Over at Mary's place, ho)
Then you'll make it your business to be right there"
(Over at Mary's place, ho)

He said in fact: Meet me (meet me at Mary's place)
We're gonna have (we're gonna have us a ball today)
Why don't you (meet me at Mary's place)
Why don't you meet me (meet me at Mary's place)
We're gonna have (we're gonna have us a ball today)
Why don't you (meet me at Mary's place, ho)

He said: There's one thing I that want you to know
(Over at Mary's place, ho)
You're gonna have a good time before you go
(Over at Mary's place, ho)
He said: There's one more thing that I'm gonna guarantee
(Over at Mary's place, ho)
Got to have fun if you're a man like me
(Over at Mary's place, ho)

If you wanna have fun, meet me (meet me at Mary's place)
We're gonna have (we're gonna have us a ball today)
Why don't you (meet me at Mary's place)
Oh meet me (meet me at Mary's place)
We're gonna have (we're gonna have us a ball today)
Why don't you (meet me at Mary's place, ho)

If you wanna have a good time (meet me at Mary's place)
We're gonna have (we're gonna have us a ball today)
Come on & (meet me at Mary's place)
Oh, meet me (meet me at Mary's place)
We're gonna have (we're gonna have us a ball today)
Come on & (meet me at Mary's place, ho)

In [4]:
df3.groupby('closest_genre').describe()

              length_lyric                                                   \
                     count    mean         std   min     25%    50%     75%
closest_genre
Blues                100.0  228.98  116.529181  29.0  158.75  198.5  271.00
Country              100.0  235.80  130.211250  57.0  159.75  203.5  285.25
Electronic           100.0  231.36   88.248675  70.0  160.50  228.5  279.00
Folk                 100.0  228.95  133.351315  25.0  148.25  191.5  281.25
Hip Hop              100.0  434.58  235.576798  78.0  231.00  386.0  620.25
Jazz                 100.0  173.89   79.318931   4.0  121.75  162.0  215.25
Metal                100.0  200.40   75.438918  33.0  142.25  197.0  237.75
Pop                  100.0  261.16  131.466378  78.0  184.00  244.5  333.25
Punk                 100.0  195.12   88.799886   7.0  127.75  187.5  260.00
Reggae               100.0  257.62  119.809426  71.0  184.00  219.0  313.00
Rock                 100.0  212.78   85.304988  20.0  155.75  212.5  251.25


                  max
closest_genre
Blues           650.0
Country         923.0
Electronic      498.0
Folk            877.0
Hip Hop        1042.0
Jazz            457.0
Metal           410.0
Pop            1003.0
Punk            564.0
Reggae          722.0
Rock            516.0

In [5]:
len(df3)

1100

In [6]:
df3.describe()

       length_lyric
count   1100.000000
mean     241.876364
std      140.287671
min        4.000000
25%      155.000000
50%      209.000000
75%      287.000000
max     1042.000000

In [7]:
df3.head()

,artist,song_name,closest_genre,lyric,length_lyric
0,Sam Cooke,Meet Me At Mary's Place,Blues,A friend of mine told me one early mornin'\n(O...,290
1,Curtis Mayfield,Give Me Your Love (Love Song),Blues,"SO IN LOVE\nSO IN LOVE, YOU DO SO MANY THINGS ...",218
2,Sam Cooke,Another Saturday Night,Blues,Let me tell you 'bout a place\nSomewhere up-a ...,220
3,Sonny Boy Williamson I,Something Going On Wrong,Blues,(Together) We will go our way\n(Together) We w...,364
4,Carole King,Where You Lead,Blues,Wanting you the way I do\nI only wanna be with...,166

In [14]:
df3.iloc[0].lyric.split('\n')

["A friend of mine told me one early mornin'",
 "(Over at Mary's place, ho)",
 "Said tonight there's gonna be a party goin' on",
 "(Over at Mary's place, ho)",
 'He said "If you can enjoy a real nice affair',
 "(Over at Mary's place, ho)",
 'Then you\'ll make it your business to be right there"',
 "(Over at Mary's place, ho)",
 '',
 "He said in fact: Meet me (meet me at Mary's place)",
 "We're gonna have (we're gonna have us a ball today)",
 "Why don't you (meet me at Mary's place)",
 "Why don't you meet me (meet me at Mary's place)",
 "We're gonna have (we're gonna have us a ball today)",
 "Why don't you (meet me at Mary's place, ho)",
 '',
 "He said: There's one thing I that want you to know",
 "(Over at Mary's place, ho)",
 "You're gonna have a good time before you go",
 "(Over at Mary's place, ho)",
 "He said: There's one more thing that I'm gonna guarantee",
 "(Over at Mary's place, ho)",
 "Got to have fun if you're a man like me",
 "(Over at Mary's place, ho)",
 '',
 "If you wanna have fun, meet me (meet me at Mary's place)",
 "We're gonna have (we're gonna have us a ball today)",
 "Why don't you (meet me at Mary's place)",
 "Oh meet me (meet me at Mary's place)",
 "We're gonna have (we're gonna have us a ball today)",
 "Why don't you (meet me at Mary's place, ho)",
 '',
 "If you wanna have a good time (meet me at Mary's place)",
 "We're gonna have (we're gonna have us a ball today)",
 "Come on & (meet me at Mary's place)",
 "Oh, meet me (meet me at Mary's place)",
 "We're gonna have (we're gonna have us a ball today)",
 "Come on & (meet me at Mary's place, ho)"]

In [16]:
df3['actual_lyric_length'] = df3.lyric.map(lambda x: len(x.split('\n')))

In [18]:
df3.describe()

       length_lyric  actual_lyric_length
count   1100.000000          1100.000000
mean     241.876364            43.605455
std      140.287671            22.979533
min        4.000000             1.000000
25%      155.000000            28.000000
50%      209.000000            39.000000
75%      287.000000            53.000000
max     1042.000000           165.000000

In [19]:
df3.query('actual_lyric_length==1')

,artist,song_name,closest_genre,lyric,length_lyric,actual_lyric_length
580,Dave Brubeck,St. Louis Blues - previously unreleased,Jazz,[instrumental piece of music],4,1
697,Godhead,Backstander,Metal,I wish I was free now You drive me into a plac...,150,1
804,The Pogues,The Battle of Brisbane - 2013 Mix,Punk,"There are no lyrics, it's an instrumental.",7,1
996,Mountain,For Yasgur's Farm,Reggae,"(Gardos,Laing,Pappalardi-Collins,Ship,Rea) A s...",174,1

In [23]:
df3.query('actual_lyric_length==1').iloc[1].lyric

"I wish I was free now You drive me into a place Where I barely can hide from you Moments at a time You know I never sleep To keep myself away from you I'm always turning around To see you standing on my back Sometimes I find that my Delivery is all the same And when I look at you I instinctively start the game i never see what you mean when you Start to weep and scream at me Oh no, the ringing in my head again Oh no,you're ripping off my face again You know I never sleep To keep myself away from you I'm always turning around To see you standing on my back you'r just a pretty face You'r just a pretty face You know I never sleep To keep myself away from you I'm always turning around To see you standing on my back"